.my-p{
    color: rgb(20, 17, 17);
    font-size: 50px;
    
}

/* for the id we use #
   for the class we use point .
 */

 div {
    background-color: rgb(221, 236, 236);
    font-size: 40px;
    /*for the padding ==> Top Right Bottom Left 
       or we can say padding-bottom: 10px
       or we can say padding-top: 10px
    */
    padding: 10px 20px;
 }

 .Margin {

    background-color: aquamarine;
    padding: 10px;
    /* margin we use it to make the outside contine to
     be big or small its the oposit woth padding
     marigin accept the negativ value
    */
    width: 70%;    /* so this it use to make the contain just 70% of the page */
    margin: 10px;   
    margin-left: auto;
    margin-right: auto;

    border-width: 10px; /* for using border */
    border-color: black;
    border-style: solid;
    /* or we can use all that in one sentence  border: 10px solid red*/

 }

.Outline {
    background-color: #DDD;
    width: 300px;
    padding: 10px;
    outline: 10px solid red;
    border: 10px solid green;

}

 .B {
    font-size: 50px;
    background-image: url(../image/8fe6ad14-09e3-46e8-ac22-d26609520d4d.jpg);
    background-repeat: no-repeat;  
    /* or we can use repeat to se the picture multipel time
       or ifi want just with the X ===>repeat-X
       or eith Y====> repeat-Y
    */
    background-attachment: fixed;
    /* or we can use scroll so the background still showing even we go down */

    background-position: left top;
    /* we can use left center 
    or right botom ...
    we can use this to make the pictur in the backround 
    in every position we want

    or we can use pixal ===> background-position: 100px, 100px;
    or we can use percentage ===> background-position: 100%, 100%;
    */

    background-size: contain;
    /* or we can use pixal or we canuse percentage */

 }

 /*Block
 -Take Full width If no width
 -Add lien Break
 -Respect Padding margin width Height
 */
 .Block {
   background-color: rgb(223, 207, 207);
   width: 400px;
   padding: 10px;
   margin: 10px;
   height: 40px;

 }


 /*Inline
 -Do not inline break
 -Do not respect width height 
 -Respect padding and margin just left and right
 -Allow elemnt before and after it 
 */
.Inline {
   background-color: rgb(223, 207, 207);
   width: 400px;
   height: 40px;
   padding: 30px;
   margin: 10px;
   /*if he want the span to respect the widht and... we use 
   display : block:*/

}

 /*Inline Block
 -Allow elemnt before and after it 
 -Respect padding and margin just left and right
 -
 */
 .Inline-Block {
   background-color: rgb(223, 207, 207);
   display: inline-block;
   width: 400px;
   height: 40px;
   padding: 30px;
   margin: 10px;

 }

 /* Element visibility and Use cases */
 .VISIBILITY{
   background-color: aquamarine;
   margin: 10px 0;
   /* display: none; if we want to make this block not 
   showing that will help us in java so nothing show until we 
   click to  a button*/
   /* visibility: hidden; it use to hide the contune of
    somthing but you will see theyr place sowe use it if we make
     some animation  */

 }