/* Groupiiing Multiple Selectors */

.One {
    border-bottom: 2px solid red;
    color: red;
}


.Two {
    border-bottom: 2px solid green;
    color:green;
}

.Three {
    border-bottom: 2px solid blue;
    color: blue;
}

.Four {
    border-bottom: 2px solid black;
    color: black;
}

.One,
.Two,
.Three,
.Four,
.P{ 
    padding: 10px;
    margin: 10px 0;
    background-color: #EFE;
}
