body{
    background-color: hwb(0 0% 100%);
}

#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 97%, 62%);
    font-size: 13em;
    text-align: center;
    animation-name: slideLeft;
    /*animation-name: slideRight;
    animation-name: slideUp;
    animation-name: slideDown;
    animation-name: rotate;
    animation-name: grow;
    animation-name: shrink;
    animation-name: fadeIn;
    animation-name: colorChange;
    animation-name: glow;*/
    animation-duration: 2s;
    /*opacity: 0;*//*==============>to make it invisibl forom the start and show int the 2s */
    animation-iteration-count: 2;
    /*animation-duration: reverse, alternate, alternate-reverse, normal;*/
    /*animation-play-state: running, paused;*/
    /*animation-timing-function: ease-in-out, linear, steps(5);*/
    animation-timing-function: cubic-bezier(0.28,-1.48, 0.54, 2.21);

}
img{
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-duration: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.28,-1.48, 0.54, 2.21);
}
/*#box:hover{
    animation-name: glow;
    animation-duration: 2s;
}
#box:active{
    animation-name: glow;
    animation-duration: 2s;
}*/
@keyframes slideLeft{
    from{transform: translateX(300%);}
}
@keyframes slideRight{
    to{transform: translateX(300%);}
}
@keyframes slideUp{
    from{transform: translateY(300%);}
}
@keyframes slideDown{
    to{transform: translateY(300%);}
}
@keyframes rotate{
    /*100%*/50%{transform: rotateX(360deg)}
    /*100%{transform: rotateY(360deg)}
    100%{transform: rotateZ(360deg)}*/

}
@keyframes grow{
    100%{transform: scale(2,2);}
}
@keyframes shrink{
    50%{transform: scale(0.5,0.5);}
}
@keyframes fadeIn{
    100%{opacity: 1;}
}

@keyframes colorChange{
    0%{background-color: hsl(0, 97%, 62%);}
    20%{ background-color: hsl(35, 100%, 62%);}
    40%{background-color: hsl(63, 97%, 62%);}
    60%{background-color: hsl(103, 97%, 62%);}
    80%{ background-color: hsl(201, 100%, 62%);}
    100%{background-color: hsl(268, 97%, 62%);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 50%);}
}